@tailwind base;
@tailwind components;
@tailwind utilities;

/* .amkYk,
.jeWQ0,
.q44yz,
.UP62D {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
} */
body {
  background-image: url("../public/images/bg3.jpg");

  background-size: cover;
  position: relative;
}
